.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 55px;
  height: 55%;
  padding: 1rem 0;
  border-radius: 40px;
  background: linear-gradient(#167b16, #084d08);
  box-shadow: inset 0 0 5px #00ff00, 0 0 10px rgba(0, 255, 0, 0.2);
  background-image: url('/src/assets/images/grid-bg.jpg');
  background-size: cover;
  z-index: 1001;
  margin-left: 1.5rem;
}

.sidebar a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #008000;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  margin: 1rem;
}

.sidebar a:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #00ff00;
}

.sidebar-icon {
  width: 24px;
  height: 24px;
  filter: brightness(1.5) drop-shadow(0 0 2px white);
}

.sidebar a.active {
  background-color: #00cc00;
  box-shadow: 0 0 10px limegreen;
}

.sidebar a.active .sidebar-icon {
  filter: brightness(2.5) drop-shadow(0 0 4px limegreen);
}

/* Tablet */
@media (max-width: 1024px) {
  .sidebar {
    width: 45px;
    height: 40%;
    padding: 0.7rem 0;
    border-radius: 30px;
    margin-left: 0.7rem;
  }

  .sidebar a {
    width: 36px;
    height: 36px;
    margin: 0.7rem;
  }

  .sidebar-icon {
    width: 18px;
    height: 18px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .sidebar {
    width: 40px;
    height: 30%;
    padding: 0.4rem 0;
    border-radius: 22px;
    margin-left: 0.2rem;
    gap: 1rem;
  }

  .sidebar a {
    width: 30px;
    height: 30px;
    margin: 0.4rem;
  }

  .sidebar-icon {
    width: 15px;
    height: 15px;
  }
}

/* Extra pequeno (celulares menores) */
@media (max-width: 480px) {
  .sidebar {
    width: 32px;
    height: 22%;
    padding: 0.2rem 0;
    border-radius: 14px;
    margin-left: 0;
    gap: 0.7rem;
  }

  .sidebar a {
    width: 22px;
    height: 22px;
    margin: 0.2rem;
  }

  .sidebar-icon {
    width: 11px;
    height: 11px;
  }
}